@mixin text-clamp($lines: 3) {
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.movies-grid{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

    .columns {
    width: 100%;
    position: relative; 
    padding-right: 0.75rem; 
    padding-left: 0.75rem;
    margin-bottom: 1.5rem !important;

    @media (min-width: 768px) {

        flex: 0 0 auto;    
        width: 25%;
    }
    }

    .card { 
        cursor: default; 
        border: none;
    }

    .card-body {
      flex: 1 1 auto; 
      padding: 1rem; 
      display: flex !important; 
      flex-direction: column !important; 
    }
    
    .card-text {
      text-align: left;
      margin-top: 1rem !important;

        .overview {
            @include text-clamp(3);
            text-align: justify;
        }
    }

    .poster{
    border-radius: 3%;
    }

    
}