.pagination {
    margin-top: 0.5rem;
    background-color: none;
    margin-bottom: 1rem;

    .button-page {
        margin: 0 0.25rem;
        border-radius: 10%;
        border-color: none;
        background-color: none;
        cursor: pointer;
        font-size: 1rem;
        color: rgb(0, 0, 0);

        &:disabled {
            background-color: none;
            border: none;
            cursor: not-allowed;
        }
    }
}