.app {
    background-color: black;
}
.navbar { 
    color: white;
    margin-bottom: 1rem; 
    background-color: black;

    .nav-link { 
        color: white; 
    }
}
.container { 
    color: white;
    text-align: center; 
    background-color: black;
}
footer { 
    position: relative; 
    bottom: 0; 
    width: 100%; 
    color: white;
    background-color: black;
    text-align: center;
    padding: 1rem 0;
}